* {
    padding: 0;
    margin: 0;
}
#customm {
    position: relative !important;
    z-index: 2 !important;
}
.body {
    display: flex;
    /* width: 100vh !important;
    overflow: hidden;    */
}
.image11 {
    position: absolute;
    right: -150px;
    top: -110px;
}
.image22 {
    position: absolute;
    right: 50px;
    top: 275px;
}
.image33 {
    position: absolute;
    right: -30px;
    top: 300px;
}
.sidenav1 {
    background: linear-gradient(180deg, #00a859 2.53%, #003399 104.21%);
    width: 1024px;
    height: 100vh;
    /* position: fixed; */
}
.innerdiv {
    text-align: center;
    padding-top: 300px !important;
    margin-left: 100px;
    padding: 0 20px;
}
.mainlogo {
    filter: brightness(1);
}
.sidenavtext {
    margin-top: 20px;
    color: white;
    font-size: 33px;
}

/* section111111 */

.section1 {
    background: white;
    padding: 110px 100px 30px 80px;
    width: 100%;
    position: relative;
    overflow: hidden !important;
    height: 100vh !important;
    overflow-y: auto !important;
}
.para1 {
    font-weight: 600;
    font-size: 33px;
    /* width: 550px; */
    line-height: 40px;
    margin-bottom: 40px;
    z-index: 2 !important;
    position: relative;
}
.para2 {
    font-size: 18px;
    font-weight: 500;
    /* width: 500px; */
    line-height: 30px;
    margin-bottom: 30px;
    z-index: 2 !important;
    position: relative;
}
.para3 {
    font-size: 18px;
    font-weight: 500;
    /* width: 450px; */
    line-height: 28px;
    margin-bottom: 30px;
    z-index: 2 !important;
    position: relative;
}
.para4 {
    font-size: 18px;
    font-weight: 500;
    width: 500px;
    line-height: 28px;
    margin-bottom: 30px;
    z-index: 2 !important;
    position: relative;
}

.bluespan {
    color: #003399;
    font-weight: 700;
}
.sec1btns {
    display: flex;
    gap: 15px;
    place-content: center;
    /* margin-right: 150px; */
}
.sec1btn {
    background-color: #00a859;
    text-decoration: none;
    color: white;
    font-size: 13px;
    text-align: center;
    font-weight: 400;
    padding: 8px 40px;
    border: 1px solid #00a859;
    border-radius: 5px;
}
.sec1btn2 {
    background-color: white;
    text-decoration: none;
    color: #00a859;
    font-size: 13px;
    text-align: center;
    font-weight: 400;
    padding: 8px 40px;
    border: 1px solid #00a859;
    border-radius: 5px;
    display: flex;
    position: relative;
    z-index: 2;
}
#icon1 {
    margin-left: 8px;
    color: #00a859 !important;
    font-size: 22px;
}

/* section2 */
.active {
    border: 1px solid white;
    background-color: white;
    color: black;
    padding: 0;
    font-size: 12px;
    text-align: center;
    font-weight: 800;
    margin-right: 10px !important;
    border-radius: 3px;
}
.innerdiv2 {
    padding-top: 70px;
    margin-left: 90px;
}
.listedoptions {
    color: white;
    font-size: 16px;
}

.listicon {
    border: 1px solid white;
    padding: 0;
    font-size: 12px;
    text-align: center;
    font-weight: 800;
    margin-right: 10px !important;
    border-radius: 3px;
}

.listedoptions2 {
    color: white;
    font-size: 16px;
    margin-top: 80px;
}
.listicon2 {
    border: 1px solid white;
    background-color: white;
    color: black;
    padding: 0;
    font-size: 12px;
    text-align: center;
    font-weight: 800;
    margin-right: 2px !important;
    border-radius: 50%;
    padding: 0.1px;
}

.sidenavtext2 {
    margin-top: 20px;
    color: white;
    font-size: 33px;
    margin-bottom: 50px;
}

.section2 {
    position: relative;
    overflow: hidden !important;
    padding: 150px 20px 10px 40px;
    width: 100%;
    height: 100vh !important;
    overflow-y: auto !important;
}
.sec2h4 {
    font-weight: 600;
    font-size: 33px;
}
.sec2hr {
    border-bottom: 2px solid black;
}
.sec2label1 {
    font-size: 18px;
    font-weight: 600;
    color: black;
    margin-bottom: 15px;
}
.sec2inner {
    display: flex;
    border: 1px solid gray;
    width: fit-content;
    border-radius: 5px;
}
.in1icon {
    background-color: gray;
    color: white;
    padding: 15px 15px;
    font-size: 20px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.sec2in1 {
    padding: 0px 10px;
    outline: none;
    width: 500px;
    border: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.sec2in1::placeholder {
    color: gray;
    font-size: 13px;
}
.sec2div1 {
    margin-top: 50px;
}
.sec2btns {
    margin-top: 100px;
    display: flex;
    gap: 15px;
    place-content: center;
}

/* section  3333 */
.section3 {
    position: relative;
    overflow: hidden !important;
    width: 100%;
    padding: 70px 60px 20px 30px;
    height: 100vh !important;
    overflow-y: auto !important;
}
.sec3hr {
    border-bottom: 2px solid black;
}
.sec3h4 {
    font-weight: 600;
    font-size: 33px;
}
.sec3h6 {
    font-weight: 500;
    font-size: 17px;
}
.sec3h61 {
    font-weight: 500;
    font-size: 17px;
}
.sec3h62 {
    font-weight: 500;
    font-size: 17px;
}
.sec3p1 {
    font-weight: 500;
    font-size: 16px;
    background-color: #00a85a5b;
    color: #00a859;
    text-align: left;
    padding: 15px 30px;
    margin-right: 400px;
    border-radius: 10px;
    margin-top: 15px;
}
.sec3table1 {
    margin-bottom: 25px;
}
.sec3table2 {
    margin: 20px 0;
}
.sec3th1 {
    font-weight: 600 !important;
    font-size: 17px;
    text-align: left !important;
    padding-right: 45px;
}
.sec3th2 {
    font-weight: 600 !important;
    font-size: 17px;
    text-align: left !important;
    padding-right: 50px;
}
.sec3td1 {
    font-weight: 400 !important;
    font-size: 15px;
    text-align: left !important;
    /* padding-right: 30px; */
    padding-top: 8px;
}

/* section  4 */
.section4 {
    width: 100%;
    padding: 60px 120px 20px 30px;
    position: relative;
    overflow: hidden !important;
    height: 100vh !important;
    overflow-y: auto !important;
}
.sec4h4 {
    font-weight: 600;
    font-size: 33px;
}
.sec4p {
    font-weight: 500;
    font-size: 15px;
    padding-right: 150px;
    padding-bottom: 10px;
}
.sec4p2 {
    font-weight: 500;
    font-size: 15px;
}
.sec1btn22 {
    background-color: white;
    text-decoration: none;
    color: #00a859;
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    padding: 8px 40px;
    border: 1px solid #00a859;
    border-radius: 5px;
    display: flex;
}
#icon11 {
    margin-left: 8px;
    color: #00a859 !important;
    font-size: 25px;
}

/* section 5 */

.section5 {
    width: 100%;
    padding: 50px 30px 20px 30px;
    position: relative;
    overflow: hidden !important;
    height: 100vh !important;
    overflow-y: auto !important;
}
.sec5h4 {
    font-weight: 600;
    font-size: 33px;
}

.shorttab {
    display: flex;
    gap: 170px;
    position: relative;
    z-index: 2;
}
.activetab {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: black;
}
.tab1 {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: gray;
    cursor: pointer;
}
.tablabel1 {
    font-size: 16px;
}
.sec5div1 {
    width: 100%;
    margin-right: 150px;
    margin-bottom: 20px;
}
.sec5label1 {
    display: block;
    color: black;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 5px;
}

.sec5in1 {
    outline: none;
    border: 2px solid rgb(187, 176, 176);
    width: 100%;
    padding: 10px 30px;
    border-radius: 6px;
    color: black;
    font-size: 13px;
    font-weight: 500;
}

.sec5div101 {
    margin-bottom: 20px;
}
.sec5label11 {
    color: black;
    font-size: 17px;
    font-weight: 600;
}
.sec5label101 {
    color: black;
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
}
.checks {
    font-size: 18px;
}

/* section7 */

.sec7div1 {
    background-color: gray;
    padding: 10px 20px;
    margin-right: 150px;
    color: white;
    font-size: 17px;
    font-weight: 600;
    margin-top: -18px;
    margin-bottom: 20px;
}
.sec7div2 {
    background-color: #00a859;
    width: 100%;
    padding: 10px 30px;
    margin-right: 150px;
    color: white;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 15px;
}

/* section 88 */

.section8 {
    width: 100%;
    padding: 30px 35px 10px 35px;
    position: relative;
    overflow: hidden !important;
    height: 100vh !important;
    overflow-y: auto !important;
}
.sec8h4 {
    font-weight: 600;
    font-size: 33px;
}

.sec8p1 {
    font-size: 16px;
    font-weight: 500;
    margin: -5px 0;
}
.sec8p2 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: -5px;
    margin-top: 50px;
}

.sec8div1 {
    margin-bottom: 15px;
}

.section5 .sec8div1 {
    width: 100%; 
    margin-bottom: 15px;
}
.sec8label1 {
    display: block;
    color: black;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 5px;
}

.sec8in1 {
    outline: none;
    border: 2px solid rgb(187, 176, 176);
    width: 100%;
    padding: 10px 10px;
    border-radius: 6px;
    color: black;
    font-size: 13px;
    font-weight: 500;
    position: relative !important;
    z-index: 2 !important;
    background-color: transparent;
}

/* section 99 */
.section9 {
    width: 100%;
    padding: 250px 50px;
    position: relative;
    overflow: hidden !important;
    height: 100vh !important;
    overflow-y: auto !important;
}
.sec9div {
    background-color: #00a859;
    color: white;
    width: 100%;
    padding: 40px 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 50px;
}

/* agreement */

.sectionagree {
    width: 100%;
    position: relative;
    overflow: hidden;
    /* margin-bottom: 40px; */
    padding-bottom: 40px;
    height: 100vh !important;
    overflow-y: auto !important;
}

.mainagree {
    background-color: transparent;
    margin: 30px 15px;
    padding: 30px 15px;
    position: relative;
    z-index: 2;
}
.agreehead {
    text-align: center;
    color: rgb(5, 5, 111);
    font-size: 17px;
    font-weight: 700;
}
.agreehr {
    border: 2px solid rgb(2, 2, 11);
    /* margin-bottom: 10px; */
}
.agreep1 {
    padding: 0px 20px;
    font-size: 15px;
    font-weight: 400;
    color: rgb(6, 6, 63);
}
.space {
    margin-top: 80px;
}
.agreep2 {
    text-align: center;
    /* padding: 0px 20px; */
    font-size: 15px;
    font-weight: 400;
    color: rgb(6, 6, 81);
}

/* extra small */
@media (max-width: 576px) {
    .image11 {
        top: -90px;
        width: 250px;
    }
    .image22 {
        position: absolute;
        right: 20px;
        top: 295px;
        width: 40px;
    }
    .image33 {
        position: absolute;
        right: -30px;
        top: 300px;
        width: 100px;
    }

    .sidenav1 {
        width: 150px;
    }
    .innerdiv {
        text-align: center;
        padding-top: 300px !important;
        margin-left: 0px;
        padding: 0 20px;
    }
    .mainlogo {
        width: 100px;
    }
    .sidenavtext {
        font-size: 13px;
    }

    /* section 111 */
    .section1 {
        background: white;
        padding: 100px 10px 10px 10px;
        width: 100%;
    }
    .para1 {
        font-weight: 600;
        font-size: 18px;
        max-width: 200px;
        line-height: 25px;
        margin-bottom: 40px;
    }
    .para2 {
        font-size: 11px;
        font-weight: 500;
        max-width: 200px;
        line-height: 20px;
        margin-bottom: 30px;
    }
    .para3 {
        font-size: 11px;
        font-weight: 500;
        max-width: 200px;
        line-height: 20px;
        margin-bottom: 30px;
    }
    .para4 {
        font-size: 11px;
        font-weight: 500;
        max-width: 200px;
        line-height: 20px;
        margin-bottom: 30px;
    }

    .sec1btns {
        display: inline-block;
        width: 100%;
        padding: 5px 20px;
        padding-left: 0 !important;
        text-align: left;
    }
    .sec1btn {
        display: block;
        font-size: 15px;
        /* max-width: 200px; */
        padding: 10px 10px;
        margin-bottom: 10px;
    }
    .sec1btn2 {
        /* display: flex; */
        text-align: center;
        display: block;
        font-size: 15px;
        margin: 0 auto;
        padding: 10px 10px;
    }
    #icon1 {
        position: absolute;
        margin-left: 2px;
        margin-top: 2px;
        font-size: 20px;
    }

    /* section22 */

    .active {
        font-size: 10px;
        margin-right: 3px !important;
    }
    .innerdiv2 {
        padding-top: 50px;
        margin-left: 10px;
        padding-right: 10px;
    }
    .listedoptions {
        font-size: 10px;
    }

    .listicon {
        font-size: 10px;
        margin-right: 3px !important;
    }

    .listedoptions2 {
        font-size: 10px;
        margin-top: 80px;
    }
    .listicon2 {
        font-size: 10px;
    }

    .sidenavtext2 {
        margin-top: 20px;
        color: white;
        font-size: 13px;
        margin-bottom: 30px;
    }

    .section2 {
        padding: 80px 10px 10px 10px;
        width: 100%;
    }
    .sec2h4 {
        font-weight: 600;
        font-size: 17px;
        max-width: 200px;
    }

    .sec2label1 {
        font-size: 14px;
        margin-bottom: 15px;
    }
    .in1icon {
        padding: 10px 10px;
        font-size: 12px;
    }
    .sec2in1 {
        padding: 0px 10px;
        width: 100%;
        border: 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .sec2in1::placeholder {
        font-size: 11px;
    }
    .sec2div1 {
        margin-top: 30px;
    }
    .sec2btns {
        display: inline-block;
        width: 100%;
        padding: 5px 20px;
        padding-left: 0 !important;
        text-align: left;
        margin-top: 40px;
    }

    /* section  3333 */
    .section3 {
        padding: 40px 0px 10px 10px;
    }
    .sec3h4 {
        font-size: 18px;
    }
    .sec3h6 {
        font-size: 12px;
        max-width: 200px;
    }
    .sec3h61 {
        font-size: 10px;
        max-width: 200px;
    }
    .sec3h62 {
        font-size: 12px;
        max-width: 200px;
    }
    .sec3p1 {
        font-size: 10px;
        background-color: #00a85a5b;
        color: #00a859;
        text-align: left;
        padding: 10px 10px;
        margin-right: 40px;
    }
    .sec3table1 {
        margin-bottom: 25px;
    }
    .sec3table2 {
        margin: 20px 0;
    }
    .sec3th1 {
        font-weight: 600 !important;
        font-size: 11px;
        text-align: left !important;
        padding-right: 15px;
    }
    .sec3th2 {
        font-weight: 600 !important;
        font-size: 11px;
        text-align: left !important;
        padding-right: 25px;
    }
    .sec3td1 {
        font-size: 10px;
    }

    /* section  4 */
    .section4 {
        padding: 60px 10px 20px 10px;
    }
    .sec4h4 {
        font-weight: 600;
        font-size: 23px;
    }
    .sec4p {
        font-size: 12px;
        padding-right: 50px;
        padding-bottom: 10px;
    }
    .sec4p2 {
        font-weight: 500;
        font-size: 12px;
    }
    .sec1btn22 {
        /* display: flex; */
        text-align: center;
        display: block;
        font-size: 12px;
        margin: 0 auto;
        padding: 10px 10px;
    }
    #icon11 {
        position: absolute;
        margin-left: 2px;
        margin-top: 2px;
        font-size: 15px;
    }

    /* section 5 */

    .section5 {
        padding: 50px 10px 20px 10px;
        height: 100vh !important;
        overflow-y: auto !important;
    }
    .sec5h4 {
        font-weight: 600;
        font-size: 20px;
    }

    .shorttab {
        gap: 20px;
    }
    .activetab {
        font-size: 11px;
    }
    .tab1 {
        font-size: 11px;
    }
    .sec5div1 {
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .sec5label1 {
        font-size: 15px;
    }

    .sec5in1 {
        padding: 8px 30px;
        font-size: 12px;
    }
    .sec5label11 {
        font-size: 15px;
    }
    .sec5label101 {
        font-size: 15px;
    }
    .checks {
        font-size: 16px;
    }

    /* section7 */

    .sec7div1 {
        padding: 10px 10px;
        margin-right: 0px;
        color: white;
        font-size: 10px;
    }
    .sec7div2 {
        padding-top: 25px !important;
        padding: 10px 30px;
        margin-right: 0px;
        color: white;
        font-size: 12px;
        font-weight: 600;
    }

    /* section 88 */

    .section8 {
        padding: 30px 3px 10px 5px;
    }
    .sec8h4 {
        font-weight: 600;
        font-size: 23px;
    }

    .sec8p1 {
        font-size: 11px;
        font-weight: 500;
        margin: -5px 0;
    }
    .sec8p2 {
        font-size: 11px;
        margin-top: 20px !important;
    }

    .sec8div1 {
        margin-bottom: 10px;
    }
    .sec8label1 {
        font-size: 14px;
        margin-bottom: 3px;
    }

    .sec8in1 {
        outline: none;
        border: 2px solid rgb(187, 176, 176);
        padding: 5px 10px;
        font-size: 11px;
    }

    /* section 9 */
    .section9 {
        padding: 200px 10px;
    }
    .sec9div {
        padding: 20px 20px;
        font-size: 12px;
        margin-bottom: 10px;
    }

    /* agreement */
    .mainagree {
        background-color: transparent;
        margin: 30px 5px;
        padding: 30px 5px;
        position: relative;
        z-index: 2;
    }
    .agreehead {
        font-size: 13px;
    }
    .agreehr {
        border: 2px solid rgb(2, 2, 11);
        /* margin-bottom: 10px; */
    }
    .agreep1 {
        padding: 0px 10px;
        font-size: 10px;
    }
    .space {
        margin-top: 30px;
    }
    .agreep2 {
        font-size: 10px;
    }
}

/* small device */
@media (min-width: 576px) and (max-width: 767px) {
    .sidenav1 {
        width: 200px;
    }
    .innerdiv {
        text-align: center;
        padding: 0 25px;
        margin-left: 0px;
        padding-top: 300px !important;
    }
    .mainlogo {
        width: 120px;
    }
    .sidenavtext {
        font-size: 13px;
    }

    /* secton 2 */

    .section1 {
        padding: 110px 10px 30px 15px;
        width: 100%;
    }
    .para1 {
        font-size: 23px;
        max-width: 400px;
        line-height: 35px;
    }
    .para2 {
        font-size: 15px;
        max-width: 400px;
        line-height: 20px;
    }
    .para3 {
        font-size: 15px;
        max-width: 400px;
        line-height: 20px;
        margin-bottom: 30px;
    }
    .para4 {
        font-size: 15px;
        max-width: 400px;
        line-height: 20px;
        margin-bottom: 30px;
    }
    .sec1btn {
        padding: 6px 30px;
    }
    .sec1btn2 {
        padding: 6px 30px;
    }

    /* section2 */
    .active {
        border: 1px solid white;
        background-color: white;
        color: black;
        padding: 0;
        font-size: 12px;
        text-align: center;
        font-weight: 800;
        margin-right: 10px !important;
        border-radius: 3px;
    }
    .innerdiv2 {
        padding-top: 70px;
        margin-left: 20px;
        padding-right: 20px;
    }
    .listedoptions {
        font-size: 12px;
    }

    .listicon {
        font-size: 10px;
        margin-right: 3px !important;
    }

    .listedoptions2 {
        color: white;
        font-size: 12px;
        margin-top: 50px;
    }
    .listicon2 {
        font-size: 10px;
        margin-right: 2px !important;
    }

    .sidenavtext2 {
        margin-top: 20px;
        color: white;
        font-size: 23px;
        margin-bottom: 20px;
    }

    .section2 {
        padding: 100px 20px 10px 20px;
        width: 100%;
        height: 100vh;
        overflow-y: auto;
    }
    .sec2h4 {
        font-weight: 600;
        font-size: 23px;
    }
    .sec2label1 {
        font-size: 15px;
        margin-bottom: 15px;
    }
    .sec2inner {
        width: 100%;
    }
    .in1icon {
        padding: 12px 12px;
        font-size: 18px;
    }
    .sec2in1 {
        width: 100%;
    }
    .sec2in1::placeholder {
        font-size: 13px;
    }
    .sec2div1 {
        margin-top: 30px;
    }
    .sec2btns {
        margin-top: 70px;
        display: flex;
        gap: 15px;
        place-content: center;
    }

    /* section  3333 */
    .section3 {
        padding: 50px 10px 20px 10px;
    }
    .sec3h4 {
        font-size: 23px;
    }
    .sec3h6 {
        font-size: 14px;
    }
    .sec3h61 {
        font-size: 13px;
    }
    .sec3h62 {
        font-weight: 500;
        font-size: 14px;
    }
    .sec3p1 {
        font-size: 12px;
        padding: 15px 30px;
        margin-right: 100px;
    }
    .sec3th1 {
        font-size: 15px;
    }
    .sec3th2 {
        font-weight: 600 !important;
        font-size: 15px;
    }
    .sec3td1 {
        font-size: 12px;
    }

    /* section5 */
    .shorttab {
        gap: 60px;
        font-size: 11px;
    }
    .tablabel1 {
        font-size: 14px;
    }
    .sec5div1 {
        margin-right: 0px;
    }
    /* section7 */

    .sec7div1 {
        font-size: 12px;
    }
    .sec7div2 {
        font-size: 13px;
    }
    /* section 8 */
    .sec8p1 {
        font-size: 13px;
    }
    .sec8p2 {
        font-size: 13px;
        margin-top: 20px !important;
    }

    .sec8div1 {
        margin-bottom: 10px;
    }
    .sec8label1 {
        font-size: 14px;
    }

    .sec8in1 {
        padding: 5px 10px;
        font-size: 11px;
    }
}

/* medium device */
@media (min-width: 768px) and (max-width: 991px) {
}

/* large device */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Addition style from old template */
.has-error {
    color: #ff0000;
}
.has-error input {
    color: #000000;
    border: 1px solid red;
}

.form-group.has-error .error-block {
    /* margin: -12px 0 0; */
    display: block;
    width: 100%;
    font-size: 0.9em;
    color: #ff0000;
    font-weight: 500;
}


